venv/
__pycache__/
*.pyc
*.pyo
backend/data/*.graphml
.env
*.log

# İndirilen yapay zeka modelleri
backend/models/*
!backend/models/.gitkeep
!backend/models/bert-base-turkish-uncased/
backend/models/bert-base-turkish-uncased/*
!backend/models/bert-base-turkish-uncased/.gitkeep
